* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  --Alchemy-red: #df3128;
  --Light-red: #e48884;
  --Extra-light-red: #fbd1d2;

  --Semi--light-blue: #2c3345;
  --Light-blue: #728195;
  --White: #ffffff;
  --Shy-white: #f9f9fb;
  --Light-orange: #fdb5a0;
  --shy-blue: #f7f8fd;
  --Bold-blue: #04a5ff;
  --Bold-green: #2ec88c;

  --Super-shy-blue: #d2e6fe;
  --Shy-yellow: #fef5d0;
  --Shy-orange: #ffe7d1;
  --Shy-green: #d5fcdd;

  /* font-weights */
  font-size: 62.5%;
  --Extra-light: 200;
  --Light: 300;
  --Regular: 400;
  --Medium: 500;
  --Semi-bold: 600;
  --Bold: 700;
  --Extra-bold: 800;

  --fontfly: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.8rem;
  font-weight: var(--Bold);
}

h2 {
  font-size: 2rem;
}

p {
  font-weight: var(--Medium);
}

.nav {
  background-color: var(--white);

  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 10px 15px 1px #eeeeee;
  box-shadow: 0px 10px 15px 1px #eeeeee;

  margin: auto;
}

.nav-items {
  max-width: 1800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.nav--links a {
  margin-right: 30px;
  color: var(--Semi--light-blue);
  text-decoration: none;
  font-weight: var(--Medium);
}

/* introduction */

.introduction {
  margin: 61px auto 150px auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  max-width: 1600px;
}

.introduction h2 {
  color: var(--Alchemy-red);
  margin-bottom: 25px;
}

.introduction h1 {
  width: 269px;
  margin-bottom: 30px;
}

.introduction p {
  font-size: 1.6rem;
  width: 320px;
  line-height: 1.8;
  margin-bottom: 35px;
  color: var(--Light-blue);
}

.introduction--branding {
  /* width: 50%; */
  /* border: 1px solid #000; */
  display: flex;
  justify-content: flex-end;
  /* padding-right: 100px; */
}

/* introduction--branding  */
.branding {
  width: 250px;
}

.introduction--branding img {
  width: 250px;
}

/* stats */

.stats {
  background-color: var(--shy-blue);
  text-align: center;
}

.stats--container {
  width: 900px;
  margin: auto;
  min-height: 170px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--White);
  -webkit-box-shadow: 0px 0px 19px -4px #dbdbdb;
  box-shadow: 0px 0px 19px -4px #dbdbdb;
  /* background-color: grey; */
  border-radius: 15px;

  transform: translateY(-80px);
}

.stats--wrapper {
  width: 200px;
}

.stats--wrapper p {
  color: var(--Light-orange);
}

.stats h1 > span {
  color: var(--Bold-blue);
}

.stats > h1 {
  transform: translateY(-30px);
}

.stats > p {
  color: var(--Light-blue);
  width: 700px;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 50px;
  transform: translateY(-10px);
}

.stats--card-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.stats--card {
  width: 250px;
  min-height: 250px;
  border-radius: 8px;
  background-color: var(--White);
  padding: 30px;
  margin: 10px;
}
.stats--card img {
}

.stats--card-img-wrapper {
  width: 50px;

  height: 50px;
  margin: 15px auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats--card:nth-child(1) .stats--card-img-wrapper {
  background-color: var(--Super-shy-blue);
}

.stats--card:nth-child(2) .stats--card-img-wrapper {
  background-color: var(--Shy-yellow);
}

.stats--card:nth-child(3) .stats--card-img-wrapper {
  background-color: var(--Shy-orange);
}

.stats--card:nth-child(4) .stats--card-img-wrapper {
  background-color: var(--Shy-green);
}

.stats--card h4 {
  margin-bottom: 10px;
}

.stats--card > p {
  color: var(--Light-blue);
  line-height: 1.8;
}

/* Features */

.features {
  text-align: center;
  padding: 15px;
}

.features > p:nth-child(1) {
  color: var(--Alchemy-red);
  margin-top: 45px;
}

.features h1 {
  margin: 20px 45px;
}

.features > p:last-of-type {
  width: 500px;
  margin: auto auto 15px auto;
  line-height: 1.9;
  color: var(--Light-blue);
}

.features--description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.features--description-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  margin: 30px;

  width: 400px;
  /* height: 400px; */
}

.features-branding {
  /* margin: 0 30px; */
}

.features--description-wrapper div h4 {
  color: var(--Bold-blue);
  margin: 20px 0;

  text-align: right;
}

.features--description-wrapper div p {
  color: var(--Light-blue);
  text-align: right;
}

.features--description-wrapper:last-of-type div h4 {
  text-align: left;
  /* margin-top: 20px; */
}
.features--description-wrapper:last-of-type div p {
  text-align: left;
}

.features--description-wrapper:last-of-type {
  margin-bottom: 60px;
}

/* Skills */

.skills {
  background-color: var(--shy-blue);
  padding: 30px;
}

.skills--selector-wrapper {
  width: 700px;
  border-radius: 50px;

  display: flex;

  font-size: 1.5rem;

  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
}

.skills--selector {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(170, 170, 170, 0.41);
  box-shadow: 0px 0px 17px 0px rgba(170, 170, 170, 0.41);
}

.skills--selector:nth-child(1) {
  background-color: var(--Bold-blue);
  border-radius: 50px 0 0 50px;
  padding: 15px 15px 15px 25px;
  color: var(--White);
}

.skills--selector:nth-child(2) {
  background-color: var(--Shy-white);

  padding: 15px 15px 15px 25px;
  color: var(--Bold-blue);
}

.skills--selector:nth-child(3) {
  background-color: var(--White);
  border-radius: 0px 50px 50px 0px;
  padding: 15px 15px 15px 25px;
  color: var(--Bold-blue);
}

.skills--flex-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 950px;
  margin: auto;
}

.skills--flex-wrapper > img {
  margin-top: 50px;
}

.skills--description {
  margin-top: 50px;
}

.skills--description > p:nth-child(1) {
  font-size: 1.3rem;
  color: var(--Light-blue);
  margin-top: 20px;
}

.skills--description > h1 {
  width: 300px;

  font-size: 2.4rem;
  margin-top: 10px;
}

.skills--description > h1 span {
  color: var(--Bold-blue);
}

.skills--description > p:nth-child(3) {
  width: 350px;
  margin-top: 15px;
  color: var(--Light-blue);
  font-size: 1.3rem;
  font-weight: var(--Regular);
}

.skills-info-wrapper {
  margin-top: 20px;
  display: flex;
}

.skills--info {
  margin: 0 15px 0 0;
}

.skills--info h1 {
  font-size: 2.4rem;
}

.skills--info:nth-child(1) > h1 {
  color: var(--Bold-green);
}
.skills--info:nth-child(2) > h1 {
  color: var(--Bold-blue);
}

.skills--info:nth-child(3) > h1 {
  color: var(--Alchemy-red);
}

/* plans */

.plans {
  text-align: center;
  padding: 25px;
}

.plans > p:nth-child(1) {
  color: var(--Bold-blue);
  font-size: 1.7rem;
  margin-top: 20px;
}

.plans > h1 {
  margin-top: 25px;
}

.plans > p:nth-child(3) {
  margin-top: 25px;
  color: var(--Light-blue);
}

.plan--features-list {
  /* display: flex; */
}
.plan--features {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.plan--features img {
  text-align: left;
  width: 10px;
  margin-right: 10px;
}

.plan--features h4 {
  text-align: left;
  width: 200px;
  line-height: 2.9;
}

.plan--price-card-flex-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.plan--price-card {
  width: 300px;
  min-height: 400px;
  margin: 20px;
  background-color: var(--White);
  /* padding: 50px 50px 50px 50px; */
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(170, 170, 170, 0.41);
  box-shadow: 0px 0px 17px 0px rgba(170, 170, 170, 0.41);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan--price-card > span {
  width: 64px;
  height: 64px;

  background-color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  border-radius: 50px;
  margin: 25px auto 10px auto;
}

.plan--price-card:nth-child(1) > span {
  background-color: var(--Bold-green);
}

.plan--price-card:nth-child(2) > span {
  background-color: var(--Bold-blue);
}
.plan--price-card:nth-child(3) > span {
  background-color: var(--Alchemy-red);
}

.plan--price-card:nth-child(1) h2 {
  color: var(--Bold-green);
}
.plan--price-card:nth-child(2) h2 {
  color: var(--Bold-blue);
}
.plan--price-card:nth-child(3) h2 {
  color: var(--Alchemy-red);
}

.plan--price-card > h3 {
  margin-top: 20px;
  font-size: 2.8rem;
}

.plan--price-card > h3 span {
  font-size: 1.2rem;
  color: var(--Light-blue);
}

.plan--price-card > p {
  margin: 10px 0 10px 0;
  color: var(--Light-blue);
  /* padding: 15px; */
  font-size: 1.2rem;
}

.plan--price-card button {
  font-family: pop;
  border: none;
  padding: 15px;
  background: none;
}

.plan--btn-wrapper {
  width: 190px;

  border-radius: 50px;
  margin: 20px auto 20px auto;
  transition: transform 0.2s ease-in-out;
}

.plan--btn-wrapper:hover {
  transform: scale(1.1);
}

.plan--price-card:nth-child(1) .plan--btn-wrapper {
  background-color: var(--Light-blue);
}

.plan--price-card:nth-child(1) .plan--btn-wrapper button {
  color: var(--White);
}

.plan--price-card:nth-child(2) .plan--btn-wrapper {
  background-color: var(--Bold-blue);
}

.plan--price-card:nth-child(2) .plan--btn-wrapper button {
  color: var(--White);
}

.plan--price-card:nth-child(3) .plan--btn-wrapper {
  background-color: var(--Light-blue);
}

.plan--price-card:nth-child(3) .plan--btn-wrapper button {
  color: var(--White);
}

.plan--price-card button {
  font-weight: var(--Bold);
  font-family: var(--fontfly);
  border: none;
  padding: 15px;
  background: none;
  font-size: 1.2rem;
  /* letter-spacing: .1px; */
}

/* review */

.review {
  background-color: var(--shy-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.review--card {
  width: 500px;
  height: 300px;
  display: flex;
  padding: 20px;

  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 0px 50px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(170, 170, 170, 0.41);
  box-shadow: 0px 0px 17px 0px rgba(170, 170, 170, 0.41);
}

.review--card-description {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;
  height: 300px;
}

.review--card-description h3 {
  margin-bottom: 15px;
}

.review--card-description h4 {
  margin-bottom: 15px;
}

.review--card-description p {
  margin-bottom: 20px;
  color: var(--Light-blue);
}

.review--card > img {
  margin: 20px;
  border-radius: 13px;
}

.quote {
  position: absolute;
  bottom: 20px;
  right: 45px;
}

.review--header {
  /* padding-top: 50px; */
}

.review--header h1 {
  width: 500px;
  margin-bottom: 25px;
}

.review--header h1 span {
  color: var(--Bold-blue);
}

.review--header h4 {
  color: var(--Light-blue);
}

.review--header p {
  width: 500px;
  margin-bottom: 40px;
  color: var(--Light-blue);
}

.review--navigation {
  position: absolute;
  bottom: -35px;
  display: flex;
}
.review--navigation .circle {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 50px;
  background: #000;
  background-color: var(--Light-blue);
}

.review--navigation .circle:nth-child(3) {
  background-color: var(--Bold-blue);
}

.review--brands {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 80px; */
  padding: 50px;
  justify-content: space-evenly;
  background-color: var(--shy-blue);
}
.review--brands img {
  width: 100px;
  margin: 10px;
}

footer {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

.footer--copyright {
  margin-top: 10px;
  text-align: center;
}
.footer--copyright p {
  margin-top: 5px;
  font-size: 1.2rem;
  color: var(--Light-blue);
}

.footer--navigation div {
  display: flex;
  flex-direction: column;
  /* word-break: break-all; */
}

.footer--navigation h4,
.footer--legal h4 {
  margin-bottom: 17px;
}

.footer--navigation div,
.footer--legal div {
  display: flex;
  flex-direction: column;
}

.footer--navigation div a,
.footer--legal div a {
  margin-bottom: 15px;
  text-decoration: none;
  color: var(--Light-blue);
}

.footer--navigation,
.footer--legal {
  margin-top: 20px;
}

/* media quieres */

/* tablet */

@media (max-width: 1197px) {
  .nav-items {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .stats--container {
    width: calc(100% - 50px);
    /* margin: 0 35px; */
    /* display: block; */
    padding: 20px;
    /* display: flex; */
    justify-content: center;
  }

  .stats--wrapper {
    margin: 25px;
  }

  .features--description-wrapper div h4 {
    text-align: center;
  }

  .features--description-wrapper div p {
    text-align: center;
  }

  .features--description-wrapper:last-of-type div h4 {
    text-align: center;
    /* margin-top: 20px; */
  }
  .features--description-wrapper:last-of-type div p {
    text-align: center;
  }

  .skills--flex-wrapper {
    width: auto;
  }

  .review--header {
    text-align: center;
  }

  .review--header {
    padding-top: 50px;
  }

  footer {
    display: block;
    text-align: center;
  }
}

@media (max-width: 726px) {
  .introduction--branding img {
    display: none;
  }
  .introduction {
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  .introduction h1 {
    width: auto;
  }

  .introduction p {
    width: auto;
  }
  .features > p:last-of-type {
    width: auto;
  }

  .review--card {
    text-align: center;
    height: auto;
  }

  .stats > p {
    width: auto;
  }

  .skills--selector-wrapper {
    width: auto;
  }
}

@media (max-width: 650px) {
  .nav--links {
    display: none;
  }

  .introduction {
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  .introduction h1 {
    width: auto;
  }

  .introduction p {
    width: auto;
  }

  .skills--selector-wrapper {
    font-size: 1rem;
  }

  .skills--description {
    text-align: center;
  }

  .skills--description > h1 {
    width: auto;
  }

  .skills--description > p:nth-child(3) {
    width: auto;
  }

  .skills-info-wrapper {
    justify-content: center;
  }

  .review--card {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }

  .review--card > img {
    margin: 15px 0 15px 0;
     
  }

  .quote {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  .review--header {
    width: 100%;
  }

  .review--header h1 {
    width: auto;
  }

  .review--header p {
    width: auto;
  }

  .introduction--branding img {
    display: none;
  }
}
