* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {

/* Colors */

	--Alchemy-red: #DF3128;
	--Semi--light-blue: #2C3345;
	--Light-blue: #728195;
	--White: #ffffff;
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}

.nav {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	
}
 

.nav--links a{
	margin-right: 30px;
}




